extends layout

block content
  img(src = "/images/medium_frame.png")
  img.marisa(src = "images/medium_two_tone.png",data-0="background-position: 50% 0px;",data-5000="background-position: 50% -100px;")
  div(data-0="padding-top: 50px;",data-50="padding-top:1000px;") WOOT
  script(type='text/javascript', src='/stylesheets/skrollr.min.js').
  script(type='text/javascript').
    var s = skrollr.init();
