extends layout

block content
  h1= title
  img(src = "/images/red_paint.png")
  img(src = "/images/medium_frame.png")
  img(src = "/images/medium_holey.png")
  img(src = "/images/small_bubbles.png")
  img(src = "/images/small_two_tone.png")
