body {
  padding: 50px;
  font: 14px Arial, sans-serif;
  margin:50px 0px; padding:0px;
  text-align:center;
}

a {
  color: #00FF00;
}

body {
  background: url('/images/white-wood.jpg') repeat;
}

img {
  margin: 0px auto;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg)
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}