body {
  text-align:center;
}

a {
  color: #00FF00;
}

body {
  background: url('/images/white-wood.jpg') repeat;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 600px;
  margin-top: -300px; /* Half the height */
  margin-left: -250px;
}