body {
  padding: 50px;
  font: 14px Arial, sans-serif;
}

a {
  color: #00FF00;
}

body {
  background: url('/images/white-wood.jpg') repeat;
}

img {
  position: relative;
  top: 10%;
  left: 40%;
}